
        h1{
            color:crimson;

        }
        p{
            color:blue;
        }
        span{
            color:chartreuse;
        }
        #혼자{
            color:brown;
        }
        .다같이{
            color:fuchsia;
        }